In [2]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 5. Make an API request to pull back all the data from hubNashville (311) Service Requests (check to see how many rows you can return in a single request). Compare it to the Top 500 Monthly Searches data set. What do you observe? (This is open-ended, there isn't a specific answer for this one)

There's a lot of data here, so I'm gonna pull 500,000 rows at a time (which requires 3 requests)

### Request 1

In [ ]:
endpoint = 'https://data.nashville.gov/resource/7qhx-rexh.json?$limit=500000'
response = requests.get(endpoint)
response

In [ ]:
result = response.json()
#result

In [ ]:
len(result)

In [ ]:
_311_df_1 = pd.DataFrame(result)
#_311_df_1

### Request 2

In [ ]:
endpoint = 'https://data.nashville.gov/resource/7qhx-rexh.json?$limit=500000&$offset=500000'
response = requests.get(endpoint)
response

In [ ]:
results = response.json()

In [ ]:
_311_df_2 = pd.DataFrame(results)

In [ ]:
_311_df = pd.concat([_311_df_1, _311_df_2]).reset_index(drop = True)
#_311_df

### Request 3

In [ ]:
endpoint = 'https://data.nashville.gov/resource/7qhx-rexh.json?$limit=500000&$offset=1000000'
response = requests.get(endpoint)
response

In [ ]:
results = response.json()
_311_df_3 = pd.DataFrame(results)

In [ ]:
_311_df = pd.concat([_311_df, _311_df_3])

In [ ]:
_311_df.reset_index(drop = True)

So obviously, there's a *lot* more rows and columns in the dataset versus the monthly searches one.

Another difference is the amount of different datatypes. The monthly searches only had strings (even the numbers were considered objects), while this one has a lot more variety.

Something of note: after I requested the data for this dataset, I received many more columns that what was listed on the site. The request brought in teh "@computed_region" columns, which I have no idea how to interpret. The other dataset didn't do anything like that.

## 6. Find 2 new data sets on data.nashville.gov, make API requests to pull the data, and do an analysis that combines the data sets.

In [3]:
endpoint = ('https://data.nashville.gov/resource/kwnd-qrrm.json?$select=call_rec,description,street_name,'
            'zone,rpa,lat,lon,mapped_location&$limit=6000000')
response = requests.get(endpoint)
response

In [4]:
results = response.json()
police_df = pd.DataFrame(results)

In [5]:
police_df

,call_rec,description,zone,rpa,street_name,lat,lon,mapped_location
0,2021-10-02T19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN
1,2021-10-03T11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN
2,2021-10-03T00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN
3,2021-10-01T08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36...."
4,2021-09-30T18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5988320,2017-10-10T13:36:12.000,TRAFFIC VIOLATION,811,6631,NaN,36.143,-86.787,"{'type': 'Point', 'coordinates': [-86.787, 36...."
5988321,2016-06-21T21:08:01.000,VEHICLE BLOCKING RIGHT OF WAY,421,4093,NaN,36.162,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
5988322,2016-01-15T00:40:04.000,SUSPICIOUS PERSON,421,4091,NaN,36.161,-86.777,"{'type': 'Point', 'coordinates': [-86.777, 36...."
5988323,2022-12-29T14:21:16.000,SHOTS FIRED,221,1953,DICKERSON PIKE,36.183,-86.774,"{'type': 'Point', 'coordinates': [-86.774, 36...."
5988324,2022-12-28T17:03:19.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,425,4039,NaN,NaN,NaN,NaN

In [6]:
#results

In [7]:
dates = []
times = []

for call in police_df['call_rec']:
    split = str(call).split('T')
    dates.append(split[0])
    times.append(split[1])

In [8]:
police_df['Date'] = dates
police_df['Time'] = times
police_df

,call_rec,description,zone,rpa,street_name,lat,lon,mapped_location,Date,Time
0,2021-10-02T19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN,2021-10-02,19:13:21.000
1,2021-10-03T11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN,2021-10-03,11:25:42.000
2,2021-10-03T00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN,2021-10-03,00:54:02.000
3,2021-10-01T08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36....",2021-10-01,08:05:43.000
4,2021-09-30T18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-30,18:48:20.000
...,...,...,...,...,...,...,...,...,...,...
5988320,2017-10-10T13:36:12.000,TRAFFIC VIOLATION,811,6631,NaN,36.143,-86.787,"{'type': 'Point', 'coordinates': [-86.787, 36....",2017-10-10,13:36:12.000
5988321,2016-06-21T21:08:01.000,VEHICLE BLOCKING RIGHT OF WAY,421,4093,NaN,36.162,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36....",2016-06-21,21:08:01.000
5988322,2016-01-15T00:40:04.000,SUSPICIOUS PERSON,421,4091,NaN,36.161,-86.777,"{'type': 'Point', 'coordinates': [-86.777, 36....",2016-01-15,00:40:04.000
5988323,2022-12-29T14:21:16.000,SHOTS FIRED,221,1953,DICKERSON PIKE,36.183,-86.774,"{'type': 'Point', 'coordinates': [-86.774, 36....",2022-12-29,14:21:16.000
5988324,2022-12-28T17:03:19.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,425,4039,NaN,NaN,NaN,NaN,2022-12-28,17:03:19.000

### Pulling in another dataset

In [9]:
endpoint = 'https://data.nashville.gov/resource/2u6v-ujjs.json?$limit=1000000'
response = requests.get(endpoint)
response

In [10]:
results = response.json()
incidents_df = pd.DataFrame(results)

In [11]:
incidents_df

,primary_key,incident_number,report_type,report_type_description,incident_status_code,incident_status_description,investigation_status,incident_occurred,incident_reported,incident_location,...,victim_ethnicity,victim_county_resident,mapped_location,:@computed_region_wvby_4s8j,:@computed_region_3aw5_2wv7,:@computed_region_p6sk_2acq,:@computed_region_gxvr_9jxz,zip_code,rpa,zone
0,20230685440_11,20230685440,D,DISPATCHED,O,OPEN,Open,2023-11-15T19:20:00.000,2023-11-15T20:17:00.000,OVERBY DR,...,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}",1,1,22,3,NaN,NaN,NaN
1,20230685189_11,20230685189,D,DISPATCHED,U,UNFOUNDED,Closed,2023-11-15T16:03:00.000,2023-11-15T18:34:00.000,204 204,...,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.873, 36....",1,2,1,34,37218,NaN,NaN
2,20230685131_11,20230685131,D,DISPATCHED,O,OPEN,Open,2023-11-15T17:52:00.000,2023-11-15T17:52:00.000,HARDING MALL DR,...,Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}",1,1,28,3,NaN,NaN,NaN
3,20230685110_11,20230685110,D,DISPATCHED,O,OPEN,Open,2023-11-10T18:50:00.000,2023-11-15T17:21:00.000,CHARLOTTE PIKE,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}",1,1,24,46,NaN,NaN,NaN
4,20230685061_11,20230685061,D,DISPATCHED,U,UNFOUNDED,Closed,2023-11-15T14:11:00.000,2023-11-15T18:22:00.000,3150 3150,...,Unknown,NON RESIDENT,"{'type': 'Point', 'coordinates': [-86.677, 36....",1,1,8,38,37214,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955133,2010134429_11,2010134429,S,SUSPECT,A,CLEARED BY ARREST,Closed,2017-02-11T06:17:00.000,2017-02-11T06:17:00.000,506 506,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-86.779, 36....",1,1,20,29,37201,4211,415
955134,20101000961_11,20101000961,S,SUSPECT,A,CLEARED BY ARREST,Closed,2016-11-10T13:00:00.000,2016-11-10T13:00:00.000,I 65 N & WEDGEWOOD AVE,...,NaN,NaN,"{'type': 'Point', 'coordinates': [-86.775, 36....",1,1,18,40,37203,8051,815
955135,19000000985_11,19000000985,D,DISPATCHED,O,OPEN,Open,2021-08-23T08:00:00.000,2021-08-23T12:16:00.000,DICKERSON PIKE,...,Unknown,NON RESIDENT,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",1,1,2,16,NaN,1809,225
955136,19000000981_11,19000000981,T,NaN,O,OPEN,Open,2018-09-13T16:00:00.000,2018-09-13T16:56:00.000,MASSMAN DR,...,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}",1,1,8,11,NaN,9037,513
955137,19000000964_11,19000000964,D,DISPATCHED,O,OPEN,Open,2021-09-24T10:48:00.000,2021-09-24T10:48:00.000,DICKERSON PIKE,...,Unknown,NON RESIDENT,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",1,1,2,16,NaN,1809,225

In [12]:
incidents_df = incidents_df[['incident_occurred','report_type_description','zone','rpa','incident_location','mapped_location']]
incidents_df

,incident_occurred,report_type_description,zone,rpa,incident_location,mapped_location
0,2023-11-15T19:20:00.000,DISPATCHED,NaN,NaN,OVERBY DR,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}"
1,2023-11-15T16:03:00.000,DISPATCHED,NaN,NaN,204 204,"{'type': 'Point', 'coordinates': [-86.873, 36...."
2,2023-11-15T17:52:00.000,DISPATCHED,NaN,NaN,HARDING MALL DR,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}"
3,2023-11-10T18:50:00.000,DISPATCHED,NaN,NaN,CHARLOTTE PIKE,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}"
4,2023-11-15T14:11:00.000,DISPATCHED,NaN,NaN,3150 3150,"{'type': 'Point', 'coordinates': [-86.677, 36...."
...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,SUSPECT,415,4211,506 506,"{'type': 'Point', 'coordinates': [-86.779, 36...."
955134,2016-11-10T13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,"{'type': 'Point', 'coordinates': [-86.775, 36...."
955135,2021-08-23T08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"
955136,2018-09-13T16:00:00.000,NaN,513,9037,MASSMAN DR,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}"
955137,2021-09-24T10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"

In [13]:
dates = []
times = []

for row in incidents_df['incident_occurred']:
    split = str(row).split('T')
    dates.append(split[0])
    times.append(split[1])

In [14]:
incidents_df['Date'] = dates
incidents_df['Time'] = times

C:\Users\jclug\AppData\Local\Temp\ipykernel_28312\2044842389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents_df['Date'] = dates
C:\Users\jclug\AppData\Local\Temp\ipykernel_28312\2044842389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents_df['Time'] = times

In [15]:
incidents_df

,incident_occurred,report_type_description,zone,rpa,incident_location,mapped_location,Date,Time
0,2023-11-15T19:20:00.000,DISPATCHED,NaN,NaN,OVERBY DR,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}",2023-11-15,19:20:00.000
1,2023-11-15T16:03:00.000,DISPATCHED,NaN,NaN,204 204,"{'type': 'Point', 'coordinates': [-86.873, 36....",2023-11-15,16:03:00.000
2,2023-11-15T17:52:00.000,DISPATCHED,NaN,NaN,HARDING MALL DR,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}",2023-11-15,17:52:00.000
3,2023-11-10T18:50:00.000,DISPATCHED,NaN,NaN,CHARLOTTE PIKE,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}",2023-11-10,18:50:00.000
4,2023-11-15T14:11:00.000,DISPATCHED,NaN,NaN,3150 3150,"{'type': 'Point', 'coordinates': [-86.677, 36....",2023-11-15,14:11:00.000
...,...,...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,SUSPECT,415,4211,506 506,"{'type': 'Point', 'coordinates': [-86.779, 36....",2017-02-11,06:17:00.000
955134,2016-11-10T13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,"{'type': 'Point', 'coordinates': [-86.775, 36....",2016-11-10,13:00:00.000
955135,2021-08-23T08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",2021-08-23,08:00:00.000
955136,2018-09-13T16:00:00.000,NaN,513,9037,MASSMAN DR,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}",2018-09-13,16:00:00.000
955137,2021-09-24T10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",2021-09-24,10:48:00.000

In [16]:
lats = []
lons = []

for loc in incidents_df['mapped_location']:
    if type(loc) != float:
        coord = loc['coordinates']
        lats.append(coord[1])
        lons.append(coord[0])
    else:
        lats.append(None)
        lons.append(None)

In [17]:
len(lats)

955138

In [18]:
incidents_df['lat'] = lats
incidents_df['lon'] = lons
incidents_df

C:\Users\jclug\AppData\Local\Temp\ipykernel_28312\2264507868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents_df['lat'] = lats
C:\Users\jclug\AppData\Local\Temp\ipykernel_28312\2264507868.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidents_df['lon'] = lons

,incident_occurred,report_type_description,zone,rpa,incident_location,mapped_location,Date,Time,lat,lon
0,2023-11-15T19:20:00.000,DISPATCHED,NaN,NaN,OVERBY DR,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}",2023-11-15,19:20:00.000,36.080,-86.690
1,2023-11-15T16:03:00.000,DISPATCHED,NaN,NaN,204 204,"{'type': 'Point', 'coordinates': [-86.873, 36....",2023-11-15,16:03:00.000,36.221,-86.873
2,2023-11-15T17:52:00.000,DISPATCHED,NaN,NaN,HARDING MALL DR,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}",2023-11-15,17:52:00.000,36.080,-86.720
3,2023-11-10T18:50:00.000,DISPATCHED,NaN,NaN,CHARLOTTE PIKE,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}",2023-11-10,18:50:00.000,36.140,-86.890
4,2023-11-15T14:11:00.000,DISPATCHED,NaN,NaN,3150 3150,"{'type': 'Point', 'coordinates': [-86.677, 36....",2023-11-15,14:11:00.000,36.185,-86.677
...,...,...,...,...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,SUSPECT,415,4211,506 506,"{'type': 'Point', 'coordinates': [-86.779, 36....",2017-02-11,06:17:00.000,36.170,-86.779
955134,2016-11-10T13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,"{'type': 'Point', 'coordinates': [-86.775, 36....",2016-11-10,13:00:00.000,36.134,-86.775
955135,2021-08-23T08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",2021-08-23,08:00:00.000,36.230,-86.760
955136,2018-09-13T16:00:00.000,NaN,513,9037,MASSMAN DR,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}",2018-09-13,16:00:00.000,36.150,-86.710
955137,2021-09-24T10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}",2021-09-24,10:48:00.000,36.230,-86.760

In [19]:
incidents_df = incidents_df[['incident_occurred','Date','Time','report_type_description',
                             'zone','rpa','incident_location','lat','lon','mapped_location']]

In [20]:
police_df = police_df[['call_rec','Date','Time','description',
                       'zone','rpa','street_name','lat','lon','mapped_location']]

In [21]:
incidents_df

,incident_occurred,Date,Time,report_type_description,zone,rpa,incident_location,lat,lon,mapped_location
0,2023-11-15T19:20:00.000,2023-11-15,19:20:00.000,DISPATCHED,NaN,NaN,OVERBY DR,36.080,-86.690,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}"
1,2023-11-15T16:03:00.000,2023-11-15,16:03:00.000,DISPATCHED,NaN,NaN,204 204,36.221,-86.873,"{'type': 'Point', 'coordinates': [-86.873, 36...."
2,2023-11-15T17:52:00.000,2023-11-15,17:52:00.000,DISPATCHED,NaN,NaN,HARDING MALL DR,36.080,-86.720,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}"
3,2023-11-10T18:50:00.000,2023-11-10,18:50:00.000,DISPATCHED,NaN,NaN,CHARLOTTE PIKE,36.140,-86.890,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}"
4,2023-11-15T14:11:00.000,2023-11-15,14:11:00.000,DISPATCHED,NaN,NaN,3150 3150,36.185,-86.677,"{'type': 'Point', 'coordinates': [-86.677, 36...."
...,...,...,...,...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,2017-02-11,06:17:00.000,SUSPECT,415,4211,506 506,36.170,-86.779,"{'type': 'Point', 'coordinates': [-86.779, 36...."
955134,2016-11-10T13:00:00.000,2016-11-10,13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,36.134,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
955135,2021-08-23T08:00:00.000,2021-08-23,08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.230,-86.760,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"
955136,2018-09-13T16:00:00.000,2018-09-13,16:00:00.000,NaN,513,9037,MASSMAN DR,36.150,-86.710,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}"
955137,2021-09-24T10:48:00.000,2021-09-24,10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.230,-86.760,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"

In [22]:
police_df

,call_rec,Date,Time,description,zone,rpa,street_name,lat,lon,mapped_location
0,2021-10-02T19:13:21.000,2021-10-02,19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN
1,2021-10-03T11:25:42.000,2021-10-03,11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN
2,2021-10-03T00:54:02.000,2021-10-03,00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN
3,2021-10-01T08:05:43.000,2021-10-01,08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36...."
4,2021-09-30T18:48:20.000,2021-09-30,18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5988320,2017-10-10T13:36:12.000,2017-10-10,13:36:12.000,TRAFFIC VIOLATION,811,6631,NaN,36.143,-86.787,"{'type': 'Point', 'coordinates': [-86.787, 36...."
5988321,2016-06-21T21:08:01.000,2016-06-21,21:08:01.000,VEHICLE BLOCKING RIGHT OF WAY,421,4093,NaN,36.162,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
5988322,2016-01-15T00:40:04.000,2016-01-15,00:40:04.000,SUSPICIOUS PERSON,421,4091,NaN,36.161,-86.777,"{'type': 'Point', 'coordinates': [-86.777, 36...."
5988323,2022-12-29T14:21:16.000,2022-12-29,14:21:16.000,SHOTS FIRED,221,1953,DICKERSON PIKE,36.183,-86.774,"{'type': 'Point', 'coordinates': [-86.774, 36...."
5988324,2022-12-28T17:03:19.000,2022-12-28,17:03:19.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,425,4039,NaN,NaN,NaN,NaN

In [26]:
incidents_df.rename(columns = {'incident_occured': 'Date_and_Time', 'Date':'Date','Time':'Time',
                        'report_type_description':'Description','zone':'Zone','rpa':'RPA',
                        'incident_location':'Location','lat':'Latitude',
                        'lon':'longitude', 'mapped_location':'Mapped_Location'}, inplace = True)
incidents_df

,Date_and_Time,Date,Time,Description,Zone,RPA,Location,Latitude,longitude,Mapped_Location
0,2023-11-15T19:20:00.000,2023-11-15,19:20:00.000,DISPATCHED,NaN,NaN,OVERBY DR,36.080,-86.690,"{'type': 'Point', 'coordinates': [-86.69, 36.08]}"
1,2023-11-15T16:03:00.000,2023-11-15,16:03:00.000,DISPATCHED,NaN,NaN,204 204,36.221,-86.873,"{'type': 'Point', 'coordinates': [-86.873, 36...."
2,2023-11-15T17:52:00.000,2023-11-15,17:52:00.000,DISPATCHED,NaN,NaN,HARDING MALL DR,36.080,-86.720,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}"
3,2023-11-10T18:50:00.000,2023-11-10,18:50:00.000,DISPATCHED,NaN,NaN,CHARLOTTE PIKE,36.140,-86.890,"{'type': 'Point', 'coordinates': [-86.89, 36.14]}"
4,2023-11-15T14:11:00.000,2023-11-15,14:11:00.000,DISPATCHED,NaN,NaN,3150 3150,36.185,-86.677,"{'type': 'Point', 'coordinates': [-86.677, 36...."
...,...,...,...,...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,2017-02-11,06:17:00.000,SUSPECT,415,4211,506 506,36.170,-86.779,"{'type': 'Point', 'coordinates': [-86.779, 36...."
955134,2016-11-10T13:00:00.000,2016-11-10,13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,36.134,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
955135,2021-08-23T08:00:00.000,2021-08-23,08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.230,-86.760,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"
955136,2018-09-13T16:00:00.000,2018-09-13,16:00:00.000,NaN,513,9037,MASSMAN DR,36.150,-86.710,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}"
955137,2021-09-24T10:48:00.000,2021-09-24,10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.230,-86.760,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"

In [27]:
police_df.rename(columns = {'call_rec': 'Date_and_Time','description':'Description',
                            'zone':'Zone','rpa':'RPA','street_name':'Location','lat':'Latitude',
                            'lon':'longitude', 'mapped_location':'Mapped_Location'}, inplace = True)
police_df

,Date_and_Time,Date,Time,Description,Zone,RPA,Location,Latitude,longitude,Mapped_Location
0,2021-10-02T19:13:21.000,2021-10-02,19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN
1,2021-10-03T11:25:42.000,2021-10-03,11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN
2,2021-10-03T00:54:02.000,2021-10-03,00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN
3,2021-10-01T08:05:43.000,2021-10-01,08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36...."
4,2021-09-30T18:48:20.000,2021-09-30,18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5988320,2017-10-10T13:36:12.000,2017-10-10,13:36:12.000,TRAFFIC VIOLATION,811,6631,NaN,36.143,-86.787,"{'type': 'Point', 'coordinates': [-86.787, 36...."
5988321,2016-06-21T21:08:01.000,2016-06-21,21:08:01.000,VEHICLE BLOCKING RIGHT OF WAY,421,4093,NaN,36.162,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
5988322,2016-01-15T00:40:04.000,2016-01-15,00:40:04.000,SUSPICIOUS PERSON,421,4091,NaN,36.161,-86.777,"{'type': 'Point', 'coordinates': [-86.777, 36...."
5988323,2022-12-29T14:21:16.000,2022-12-29,14:21:16.000,SHOTS FIRED,221,1953,DICKERSON PIKE,36.183,-86.774,"{'type': 'Point', 'coordinates': [-86.774, 36...."
5988324,2022-12-28T17:03:19.000,2022-12-28,17:03:19.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,425,4039,NaN,NaN,NaN,NaN

In [28]:
police_df = pd.concat([police_df,incidents_df])
police_df = police_df.reset_index(drop = True)
police_df

,Date_and_Time,Date,Time,Description,Zone,RPA,Location,Latitude,longitude,Mapped_Location
0,2021-10-02T19:13:21.000,2021-10-02,19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN
1,2021-10-03T11:25:42.000,2021-10-03,11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN
2,2021-10-03T00:54:02.000,2021-10-03,00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN
3,2021-10-01T08:05:43.000,2021-10-01,08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36...."
4,2021-09-30T18:48:20.000,2021-09-30,18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
955133,2017-02-11T06:17:00.000,2017-02-11,06:17:00.000,SUSPECT,415,4211,506 506,36.17,-86.779,"{'type': 'Point', 'coordinates': [-86.779, 36...."
955134,2016-11-10T13:00:00.000,2016-11-10,13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,36.134,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
955135,2021-08-23T08:00:00.000,2021-08-23,08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.23,-86.76,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"
955136,2018-09-13T16:00:00.000,2018-09-13,16:00:00.000,NaN,513,9037,MASSMAN DR,36.15,-86.71,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}"
955137,2021-09-24T10:48:00.000,2021-09-24,10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.23,-86.76,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"

In [29]:
police_df = police_df.reset_index(drop = True)
police_df

,Date_and_Time,Date,Time,Description,Zone,RPA,Location,Latitude,longitude,Mapped_Location
0,2021-10-02T19:13:21.000,2021-10-02,19:13:21.000,BURGLARY - NON-RESIDENCE,523,9557,NaN,NaN,NaN,NaN
1,2021-10-03T11:25:42.000,2021-10-03,11:25:42.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,513,9033,NaN,NaN,NaN,NaN
2,2021-10-03T00:54:02.000,2021-10-03,00:54:02.000,VEHICLE ACCIDENT - PERSONAL INJURY,323,8889,NaN,NaN,NaN,NaN
3,2021-10-01T08:05:43.000,2021-10-01,08:05:43.000,WANT OFFICER FOR INVESTIGATION / ASSISTA,136W,0,OLD HICKORY BLVD,36.079,-86.919,"{'type': 'Point', 'coordinates': [-86.919, 36...."
4,2021-09-30T18:48:20.000,2021-09-30,18:48:20.000,SUSPICIOUS PERSON,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6943458,2017-02-11T06:17:00.000,2017-02-11,06:17:00.000,SUSPECT,415,4211,506 506,36.17,-86.779,"{'type': 'Point', 'coordinates': [-86.779, 36...."
6943459,2016-11-10T13:00:00.000,2016-11-10,13:00:00.000,SUSPECT,815,8051,I 65 N & WEDGEWOOD AVE,36.134,-86.775,"{'type': 'Point', 'coordinates': [-86.775, 36...."
6943460,2021-08-23T08:00:00.000,2021-08-23,08:00:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.23,-86.76,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"
6943461,2018-09-13T16:00:00.000,2018-09-13,16:00:00.000,NaN,513,9037,MASSMAN DR,36.15,-86.71,"{'type': 'Point', 'coordinates': [-86.71, 36.15]}"
6943462,2021-09-24T10:48:00.000,2021-09-24,10:48:00.000,DISPATCHED,225,1809,DICKERSON PIKE,36.23,-86.76,"{'type': 'Point', 'coordinates': [-86.76, 36.23]}"

In [31]:
police_df.to_csv('../data/police.csv')

### I'll do map stuff in a different notebook (since I need the right environment for it)

### For now, let's move on

## 7. Socrata is used by many cities, states, and federal organizations. Find additional datasets through Socrata's Open Data Network and do an analysis comparing them to Nashville or each other.